---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>Me:</h1>
    <img src="assets/img/photo.jpg" width="200"/>
    <ul>
      <h3>Education</h3>
        {% for education in site.data.education %}
        <li>
            <span>{{ education.time }}</span>
        </li>
        <li>
          <span>{{ education.title }}, {{ education.school }}, {{ education.college }}</span>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
