---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>Me:</h1>
    <img src="assets/img/photo.jpg" width="180"/>
    <ul>
      <h3>Education:</h3>
        {% for education in site.data.education %}
        <li>
            <span>{{ education.time }}</span>
        </li>
        <li>
          <span>{{ education.title }}, {{ education.school }}, {{ education.college }}</span>
        </li>
{% endfor %}
    </ul>



</div>

<div class="portfolio">
  <ul>
    <h3>Publications:</h3>
    <li>
      <a href="http://dl.acm.org/citation.cfm?id=2959074&CFID=827829127&CFTOKEN=90725473">EasyApp: A Cross-platform Mobile Applications Development Environment Based on OSGi</a>
    </li>
    <li>
      <span>Zhaoning Wang, Bo Cheng, Zhongyi Zhai, Ying Jin, Yimeng Feng, Junliang Chen - SIGCOMM 2016 Posters and Demos</span>
    </li>
    <li>
      <a href="http://dl.acm.org/citation.cfm?id=2889366&CFID=827829127&CFTOKEN=90725473">Design and Implementation: the End User Development Ecosystem for Cross-platform Mobile Applications</a>
    </li>
    <li>
      <span>Zhongyi Zhai, Bo Cheng, Zhaoning Wang, Xuan Liu, Meng Niu, Junliang Chen - WWW 2016 Posters</span>
    </li>
    <li>
      <a href="">An End-User Oriented Tool Suite for Development of Mobile Applications</a>
    </li>
    <li>
      <span>Zhongyi Zhai, Bo Cheng, Meng Niu, Zhaoning Wang, Yimeng Feng, Junliang Chen - ASE 2016 Demos</span>
    </li>
  </ul>
</div>

<div class="portfolio">
  <ul>
    <h3>Honors:</h3>
      {% for item in site.data.honor %}
      <li>
          <span>{{ item.time }}</span>
      </li>
      <li>
        <span>{{ item.title }}</span>
      </li>
{% endfor %}
  </ul>
</div>
